span.fg-converted-cup {
  position: relative;
  background-color: pink;
  color: 333;
}
span.fg-converted-cup span {
  display: none; position: absolute;
  left: 0;
  min-width: 100%;
  z-index: 999999999;
  background-color: seashell;
  text-align: center;
  white-space: nowrap;
}
span.fg-converted-cup,
span.fg-converted-cup span {
  padding-left: 0.5em; padding-right: 0.5em;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
span.fg-converted-cup:hover span { display: inline; }

/* options page */
body.fg-convertcups-options { padding: 0.5em; }
body.fg-convertcups-options h2 { font-size: 1.33em; margin-bottom: 1em; }
body.fg-convertcups-options #status {
  position: absolute; bottom: 0; right: 0.5em;
  /*min-height: 4em; */margin: 0.5em 0;
  font-weight: bold; color: crimson;
}
body.fg-convertcups-options #status span { color: crimson; display: block; margin-top: 0.5em; }
body.fg-convertcups-options label {
  display: inline-block; position: relative; margin-bottom: 0.5em;
}
body.fg-convertcups-options input {
  display: inline-block; position: relative; margin-right: 0.5em;
}
